--- 
layout: default
--- 

<section class="page-title-area" style="background-image: url({{ page.imageurl }});">
    <div class="container">
        <div class="row">
            <div class="shadow-text3 page-shadow"></div>
            <div class="col-xl-8 offset-xl-2">
                <div class="page-title">
                    <h1>{{ page.title }}</h1>
                    <div class="breadcrumb-list">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>{{ page.title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ content }}